# Virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Python environment
.python-version

# Logs
*.log

# Test / coverage
.pytest_cache/
.coverage
htmlcov/